@use "../../style/style.scss";

.About {
    position: absolute;
    top: 150px;
    overflow-y: scroll;
}

.Head {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;

    justify-content: space-around;
    align-items: center;
    background-color: style.$color1;
    overflow-y: auto;
    overflow-x: auto;
    border-bottom: 1px solid style.$color4;
    &__white__right {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100vw;

        justify-content: space-around;
        align-items: flex-start;
        background-color: style.$color4;
        overflow-y: auto;
        overflow-x: auto;
        border-bottom: 1px solid style.$color4;
    }
}

.Title {
    font-family: "Press Start 2P";
    box-shadow: 10px 10px style.$color5;
    max-width: 50vw;
    padding: 10px;
    background-color: style.$color4;
    color: style.$color2;
    &__white {
        font-family: "Press Start 2P";
        box-shadow: 10px 10px style.$color5;
        max-width: 50vw;
        padding: 10px;
        background: linear-gradient(90deg, style.$color1, style.$color2);
        color: style.$color4;
    }
}

.Text {
    display: flex;
    flex-direction: column;
    & p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        margin: 20px;
        align-self: center;
        width: 1500px;
        color: style.$color5;
        font-size: x-large;
        text-justify: newspaper;
        line-height: 30px;
        flex-wrap: wrap;
        display: inline-block;
    }

    &__white {
        color: style.$color1;
    }
}

.Profile {
    align-self: flex-end;
    height: 800px;
    background-color: transparent;
}
.Image {
    height: 800px;
    background-color: transparent;
}

.QuoteUp {
    margin: 20px;
    font-family: "Fira Code";
    font-size: 80px;
    color: style.$color5;
}

.QuoteDown {
    margin: 20px;
    text-align: right;
    font-family: "Fira Code";
    font-size: 80px;
    color: style.$color5;
}

.Icons {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Icon {
    box-shadow: 10px 10px style.$color5;
    background-color: white;
    padding: 10px;
    width: 200px;
    height: 200px;
}
