@use "../../style/style.scss";

.Chatbox {
    padding: 30px;
    position: fixed;
    left: 800px;
    top: 300px;
    display: flex;
    flex-direction: column;
    font-family: "Press Start 2P";
}

.Face {
    position: fixed;
    bottom: 0;
    left: 200px;
    width: 700px;
}

.csstyping p {
    margin: 0;
    padding: 0.4em;
    border-right: 0.15em solid style.$color4;
    font-family: "Press Start 2P";
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    height: 1.1em;
    color: style.$color5;
}
.csstyping p:nth-child(1) {
    width: 31em;
    -webkit-animation: type 5s steps(40, end);
    animation: type 3.1s steps(31, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.csstyping p:nth-child(2) {
    width: 22em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2.2s steps(22, end), blink 0.5s step-end infinite alternate;
    animation-delay: 3.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.csstyping p:nth-child(3) {
    width: 30em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 3s steps(30, end), blink 0.5s step-end infinite alternate;
    animation-delay: 6.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.csstyping p:nth-child(4) {
    width: 23em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
    animation: type3 2.3s steps(23, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 9.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

b {
    color: style.$color2;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 0.15em solid style.$color4;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 0.15em solid style.$color4;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid style.$color4;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid style.$color4;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}
