$color1: #0e0b16;
$color2: #a239ca;
$color3: #4717f6;
$color4: #e7dfdd;
$color5: #9b9493;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");
