.Body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://t3.ftcdn.net/jpg/03/54/20/68/240_F_354206879_qrsYnnZg0u6uf40h3D8hosLv2VOggfvN.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
